<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Super secret vault of information</h1>

  <form action="/login" method="POST">
    <h1>Please login to view your secret information</h1>
    <input type="text" name="email" id="email" placeholder="Enter your email address">
    <input type="password" name="password" id="password" placeholder="Enter your password">
    <button type="submit">Login</button>
  </form>
</body>

</html>