<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Super secret vault of information</h1>

    <form action="/register" method="POST">
      <h1>Please register to view your secret information</h1>
      <input type="text" name="email" id="email" placeholder="Enter your email address" />
      <input type="text" name="name" id="name" placeholder="Enter your name" />
      <input type="text" name="secret" id="secret" placeholder="Enter your secret" />
      <input type="password" name="password" id="password" placeholder="Enter your password" />
      <button type="submit">register</button>
    </form>
  </body>
</html>
