<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Super secret vault of information</h1>

  <main>
    <h1>Hey <%= name %>
    </h1>
    <h2>Your secret is : <%= secret %>
    </h2>
  </main>
</body>

</html>