<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Single Joke</h1>
    <article>
      <p><%= joke.question %></p>
      <p><%= joke.answer %></p>
      <p>By <%= joke.name %></p>
    </article>
  </body>
</html>
